anyio @ file:///C:/ci/anyio_1620153135622/work/dist
appdirs @ file:///home/conda/feedstock_root/build_artifacts/appdirs_1603108395799/work
argon2-cffi @ file:///home/conda/feedstock_root/build_artifacts/argon2-cffi_1640817743617/work
argon2-cffi-bindings @ file:///D:/bld/argon2-cffi-bindings_1640855319298/work
asciitree==0.3.3
asteval @ file:///home/conda/feedstock_root/build_artifacts/asteval_1614435675399/work
async-generator==1.10
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1640799537051/work
autopep8==1.6.0
Babel @ file:///tmp/build/80754af9/babel_1620871417480/work
backcall==0.2.0
backports.functools-lru-cache @ file:///home/conda/feedstock_root/build_artifacts/backports.functools_lru_cache_1618230623929/work
bleach @ file:///home/conda/feedstock_root/build_artifacts/bleach_1629908509068/work
blosc @ file:///D:/bld/python-blosc_1637689258338/work
bokeh @ file:///D:/bld/bokeh_1637615549616/work
brotlipy @ file:///D:/bld/brotlipy_1636012392748/work
cached-property @ file:///home/conda/feedstock_root/build_artifacts/cached_property_1615209429212/work
certifi @ file:///C:/b/abs_ac29jvt43w/croot/certifi_1665076682579/work/certifi
cffi @ file:///D:/bld/cffi_1636046278333/work
charset-normalizer==2.0.9
click @ file:///D:/bld/click_1635822757640/work
cloudpickle==2.0.0
colorama==0.4.4
cryptography @ file:///D:/bld/cryptography_1639699435873/work
cycler==0.11.0
cytoolz==0.11.2
dask==2021.12.0
debugpy==1.5.1
decorator==5.1.0
defusedxml @ file:///home/conda/feedstock_root/build_artifacts/defusedxml_1615232257335/work
diffpy.structure==3.0.1
diffsims @ file:///home/conda/feedstock_root/build_artifacts/diffsims_1618589268419/work
dill==0.3.4
distributed @ file:///D:/bld/distributed_1639183402477/work
efficientnet-pytorch==0.6.3
entrypoints==0.3
fabio @ file:///D:/bld/fabio_1637608882634/work
fasteners @ file:///home/conda/feedstock_root/build_artifacts/fasteners_1643971550063/work
flit_core @ file:///home/conda/feedstock_root/build_artifacts/flit-core_1640697294996/work/source/flit_core
fonttools==4.28.5
fpd==0.2.2
fsspec==2021.11.1
future @ file:///D:/bld/future_1635819693853/work
Glymur @ file:///home/conda/feedstock_root/build_artifacts/glymur_1641826246437/work
h5py==3.6.0
hdf5plugin==3.2.0
HeapDict==1.0.1
hyperspy @ file:///D:/bld/hyperspy-meta_1642615691598/work
hyperspy-gui-ipywidgets @ file:///home/conda/feedstock_root/build_artifacts/hyperspy-gui-ipywidgets_1618477306963/work
hyperspy-gui-traitsui @ file:///home/conda/feedstock_root/build_artifacts/hyperspy-gui-traitsui_1618413011882/work
idna==3.3
imagecodecs @ file:///D:/bld/imagecodecs_1637750718032/work
imageio==2.13.5
importlib-metadata==4.10.0
importlib-resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1635615662634/work
ipyfilechooser @ file:///home/conda/feedstock_root/build_artifacts/ipyfilechooser_1631745918830/work
ipykernel==6.6.0
ipyparallel==8.1.0
ipython==7.30.1
ipython-genutils==0.2.0
ipywidgets @ file:///home/conda/feedstock_root/build_artifacts/ipywidgets_1631590360471/work
jedi==0.18.1
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1636510082894/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1633637554808/work
json5 @ file:///tmp/build/80754af9/json5_1624432770122/work
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/jsonschema-meta_1641134858126/work
jupyter-client==7.1.0
jupyter-core==4.9.1
jupyter-server @ file:///C:/ci/jupyter_server_1616084298419/work
jupyterlab @ file:///tmp/build/80754af9/jupyterlab_1635799997693/work
jupyterlab-pygments @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_pygments_1601375948261/work
jupyterlab-server @ file:///opt/conda/conda-bld/jupyterlab_server_1641638588045/work
jupyterlab-widgets @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_widgets_1631590465624/work
kiwisolver==1.3.2
link-traits @ file:///home/conda/feedstock_root/build_artifacts/link-traits_1606738053929/work
llvmlite==0.37.0
lmfit @ file:///home/conda/feedstock_root/build_artifacts/lmfit_1635465361233/work
locket==0.2.1
lxml @ file:///D:/bld/lxml_1639527290187/work
Mako @ file:///home/conda/feedstock_root/build_artifacts/mako_1637170539581/work
MarkupSafe @ file:///D:/bld/markupsafe_1635833710307/work
matplotlib==3.4.3
matplotlib-inline==0.1.3
matplotlib-scalebar @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-scalebar_1638097769182/work
mistune @ file:///D:/bld/mistune_1635844891406/work
mkl-service==2.4.0
mpmath==1.2.1
mrcz @ file:///home/conda/feedstock_root/build_artifacts/mrcz_1591813468454/work
msgpack @ file:///D:/bld/msgpack-python_1637771538892/work
munch==2.5.0
natsort==8.0.2
nbclassic @ file:///tmp/build/80754af9/nbclassic_1616085367084/work
nbclient @ file:///home/conda/feedstock_root/build_artifacts/nbclient_1637327213451/work
nbconvert @ file:///D:/bld/nbconvert_1641352293928/work
nbformat @ file:///home/conda/feedstock_root/build_artifacts/nbformat_1617383142101/work
nest-asyncio==1.5.4
networkx==2.6.3
notebook @ file:///home/conda/feedstock_root/build_artifacts/notebook_1637122013008/work
numba==0.54.1
numcodecs @ file:///D:/bld/numcodecs_1656000213867/work
numexpr==2.8.1
numpy==1.20.3
olefile @ file:///home/conda/feedstock_root/build_artifacts/olefile_1602866521163/work
opencv-python==4.5.5.62
orix @ file:///home/conda/feedstock_root/build_artifacts/orix_1640107502630/work
packaging==21.3
pandas @ file:///D:/bld/pandas_1639398467125/work
pandocfilters @ file:///home/conda/feedstock_root/build_artifacts/pandocfilters_1631603243851/work
parso==0.8.3
partd==1.2.0
pickleshare==0.7.5
Pillow==9.0.0
Pint==0.18
pooch @ file:///home/conda/feedstock_root/build_artifacts/pooch_1633958983611/work
pretrainedmodels==0.7.4
prettytable==2.5.0
prometheus-client @ file:///home/conda/feedstock_root/build_artifacts/prometheus_client_1635538335951/work
prompt-toolkit==3.0.24
psutil==5.8.0
PyCifRW==4.4.3
pycodestyle==2.8.0
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
pyface @ file:///home/conda/feedstock_root/build_artifacts/pyface_1647442605190/work
pyFAI @ file:///D:/bld/pyfai-base_1611938275329/work
Pygments==2.10.0
pyopencl==2021.2.11
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1633192417276/work
pyparsing==3.0.6
PyQt5_sip==4.19.18
pyreadline @ file:///D:/bld/pyreadline_1636288672905/work
pyrsistent @ file:///D:/bld/pyrsistent_1636052888715/work
PySocks @ file:///D:/bld/pysocks_1635862562854/work
python-dateutil==2.8.2
pytools @ file:///home/conda/feedstock_root/build_artifacts/pytools_1635834804422/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1633452062248/work
pyUSID @ file:///home/conda/feedstock_root/build_artifacts/pyusid_1617348677229/work
PyWavelets==1.2.0
pywin32==303
pywinpty @ file:///D:/bld/pywinpty_1637030120403/work/target/wheels/pywinpty-1.1.6-cp39-none-win_amd64.whl
pyxem @ file:///C:/Users/LSME/Downloads/pyxem-0.13.3.tar.gz
PyYAML==6.0
pyzmq==22.3.0
requests==2.26.0
scikit-image==0.18.3
scikit-learn @ file:///D:/bld/scikit-learn_1640464393983/work
scipy==1.7.3
segmentation-models-pytorch==0.2.1
Send2Trash @ file:///home/conda/feedstock_root/build_artifacts/send2trash_1628511208346/work
setuptools-scm @ file:///home/conda/feedstock_root/build_artifacts/setuptools_scm_1631397603934/work
sidpy @ file:///home/conda/feedstock_root/build_artifacts/sidpy_1656723091414/work
silx==1.0.0
sip==4.19.13
six==1.16.0
sniffio @ file:///C:/ci/sniffio_1614030527509/work
sortedcontainers @ file:///home/conda/feedstock_root/build_artifacts/sortedcontainers_1621217038088/work
sparse==0.13.0
sympy==1.9
tblib @ file:///home/conda/feedstock_root/build_artifacts/tblib_1616261298899/work
terminado @ file:///D:/bld/terminado_1636052373407/work
testpath @ file:///home/conda/feedstock_root/build_artifacts/testpath_1621261527237/work
threadpoolctl==3.0.0
tifffile==2021.11.2
timm==0.4.12
toml==0.10.2
tomli @ file:///home/conda/feedstock_root/build_artifacts/tomli_1639523130782/work
toolz==0.11.2
torch==1.10.2
torchvision==0.11.3
tornado==6.1
tqdm==4.62.3
traitlets==5.1.1
traits==6.3.2
traitsui @ file:///home/conda/feedstock_root/build_artifacts/traitsui_1656509629024/work
transforms3d==0.3.1
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1638334978229/work
uncertainties @ file:///home/conda/feedstock_root/build_artifacts/uncertainties_1626042404254/work
urllib3==1.26.7
wcwidth==0.2.5
webencodings==0.5.1
widgetsnbextension @ file:///D:/bld/widgetsnbextension_1637174379490/work
win-inet-pton @ file:///D:/bld/win_inet_pton_1635832858406/work
yacs @ file:///tmp/build/80754af9/yacs_1634047592950/work
zarr @ file:///home/conda/feedstock_root/build_artifacts/zarr_1655999983354/work
zict==2.0.0
zipp==3.6.0
